TenantID=29b31beb-399c-4432-aa07-9258f6e46620
SubscriptionID=66268ff4-4804-4950-bfba-07b41a8660ec
ResourceGroup=rg-rse-search-eus
SearchServiceName=rse-matterssearch
SearchServiceURI=https://rse-matterssearch.search.windows.net
SearchIndexName=matters-eml-index
SearchSuggesterName=sg
BlobStorageURI=https://samatters.blob.core.windows.net/matters
SharePointSiteURL=https://reiszsidermaneisenberg.sharepoint.com
# Previous free-tier service (50 MB cap) - delete once the new index is verified:
# ResourceGroup=DefaultResourceGroup-EUS / SearchServiceName=matterssearch
